{% extends 'layout.html' %}

{% block content %}
        <section>
            <div class="container">
                <div class="entry-list single">
                    <article>
                        <h1>{{ entry.title }}</h1>
                        <time datetime="{{ entry.get_datetime_string() }}">{{ entry.get_date_string() }}</time>
                        <hr/><br/>Tags
                        {% for tag in entry.get_tags() %}
                        <a href="/tags/{{ tag.tagname }}" class='button icon-left tag'>
                            <span>
                                    {{ tag.tagname }}
                                    <i class="material-icons">tag</i>
                            </span>
                        </a>
                        {% endfor %}
                        <a class="button icon-right" href="/entries/{{ slug }}/tag"><span>Add Tag</span> <i class="material-icons">add</i></a>

                        <div class="entry">
                            <h3>Time Spent: </h3>
                            <p>{{ entry.display_time_spent() }}</p>
                        </div>
                        {% if entry.learned %}
                        <div class="entry">
                            <h3>What I learned:</h3>
                            <p>
                                {{ entry.learned }}
                            </p>
                        </div>
                        {% endif %}
                        {% if entry.resources %}
                        <div class="entry">
                            <h3>Resources to Remember:</h3>
                            <p>
                                {{ Markup(entry.resources) }}
                            </p>
                        </div>
                        {% endif %}
                    </article>
                </div>
            </div>
            <div class="edit">
                <p>
                    <a class="button icon-right" href="{{ url_for('edit_entry', slug=slug) }}">Edit Entry <i class="material-icons">edit</i></a>
                </p>
                <p>
                    <a class="button icon-right" href="{{ url_for('delete_entry', slug=slug) }}">
                    Delete Entry <i class="material-icons">delete</i></a>
                </p>
            </div>
        </section>
{% endblock %}
