{% extends 'layout.html' %}

{% block content %}
        <section>
            <div class="container">
                <div class="entry-list single">
                    <article>
                        <h1>Log In</h1>
                        <form action="" method="POST">
                            <input id="username" type="text" name="username" placeholder="username"><br>
                            <input id="password" type="password" name="password" placeholder="password">
                            <input id="submit" action="" type="submit" value="input" class="button material-icons">
                        </form>
                    </article>
                </div>
            </div>
        </section>
{% endblock %}
